[Unit]
Description=privtracker
After=network.target
Requires=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
RestartSec=1s
Restart=on-failure
Environment=PORT=443
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/privtracker

[Install]
WantedBy=multi-user.target
